.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination__list {
  display: flex;
  gap: 0.1em;
  flex-wrap: wrap;
  padding: 0 0.5em;
}
.pagination__arrow,
.pagination__page {
  font-size: 0.9em;
  width: 2.5em;
  aspect-ratio: 1;
  border-radius: 0.5em;
  display: grid;
  place-items: center;
  background-color: var(--pokeball-white);
  color: black;
  cursor: pointer;
  filter: grayscale(0.2);
  box-shadow: 0.2em 0.2em 0.5em #0002;
  &:hover {
    background-color: white;
  }
}
.active__page {
  background-color: var(--pokeball-red);
  color: white;
  &:hover {
    filter: brightness(1);
    background-color: var(--pokeball-red);
  }
}
@media screen and (min-width: 600px) {
  .pagination__list {
    gap: 0.5em;
  }
  .pagination__arrow,
  .pagination__page {
    font-size: 1.1em;
  }
}