.pokeinfo__move__item {
  display: grid;
  grid-template-columns: 6fr repeat(5, 3fr);
  gap: 1em 0;
}
.pokeinfo__move__column {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7em 0;
  border-bottom: 1px solid #5473ce6f;
  border-left: 0.5px solid #5473ce2d;
  border-right: 0.5px solid #5473ce2d;
}
.pokeinfo__class__img {
  aspect-ratio: 1.4;
  width: 2em;
  margin-left: 0.5em;
}