.pokeinfo__evo {
  display: grid;
  grid-template-columns: repeat(5, 5fr);
  justify-content: center;
  align-items: center;
  max-width: 48em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0.5em;
}
.pokeinfo__evo__item {
  display: grid;
  justify-items: center;
  transition: transform 150ms ease;
  padding: 1em 0 1.5em;
  border-radius: 0.8em;
  cursor: pointer;
  &:hover {
    transform: scale(1.04);
    background-color: #aaa5;
  }
}
.pokeinfo__evo__name {
  font-size: 0.9em;
  text-transform: capitalize;
}
.pokeinfo__flecha__container {
  position: relative;
  font-size: 0.7em;
}
.pokeinfo__evo__lvl {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-60%, -55%);
  color: white;
  font-size: 1.1em;
  font-weight: 700;
  width: max-content;
}
@media screen and (min-width: 600px) {
  .pokeinfo__evo {
    grid-template-columns: repeat(2, 5fr 3fr) 5fr;
  }
  .pokeinfo__evo__name {
    font-size: 1.2em;
  }
  .pokeinfo__flecha__container {
    font-size: 1em;
  }
}