@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root {
  --pokeball-red: #ee1515;
  --pokeball-black: #222224;
  --pokeball-white: #f0f0f0;
}

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}
body {
  margin: 0;
  background-color: #eee;
}
h1, h2, h3, h4, p, ul, hr {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
img {
  display: block;
  width: 100%;
}
input, button {
  font-family: inherit;
}
input {
  outline: none;
}
button {
  border: none;
}
.body__margin {
  margin: 0 1em;
}